body {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
      }
      /* exclamation points background */
body {
  background-image: url(../images/background.jpg);
  background-position: 100%;
  background-repeat: repeat;
}
/* image moves with screen size */
.responsive {
  width: 100%;
  height: auto;
}
/* front page enter button */
#enterbutton {
  text-align: center;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
  margin: auto;
  width: 100%;
}
  .headertitle {
    width: 40%;
    padding: 20px;
    margin: 15px;
  }

/* portfolio grid */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}
@media screen and (max-width: 920px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  .column img {
    margin-top: 30px;
    vertical-align: middle;
    width: 98%;
}
  .column h3 {
    text-align: center;
  }
/* links color-no underline */
a {
  color: red;
}
  /* unvisited link */
  a:link {
    text-decoration: none;
}
  /* mouse over link */
  a:hover {
    color: pink;
}
  .gridtitle {
    text-align: center;
}
